@page "/movies"
@using AspNetCoreDemo.RazorComponents.Services
@inject MoviesService MoviesService

<h1>Movies</h1>

<p>This component demonstrates fetching the movies data from a service.</p>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Casts</th>
                <th>Genres</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in movies)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Year</td>
                    <td>@movie.Cast.ToString()</td>
                    <td>@movie.Genres.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    Data.Movie[] movies;

    protected override async Task OnInitAsync()
    {
        movies = await MoviesService.GetMovies();
    }
}
